<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">¡Bienvenido!</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="meca" src="./assets/meca.jpg" />
  <ion-card-header>
    <ion-card-title>Taller Mecánico ServiExpress</ion-card-title>
    <ion-card-subtitle>Atencion de primera calidad</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Nos encontramos en direccion Antonio Varas 666, Providencia, Región Metropolitana.
    <ion-card-content>

    </ion-card-content>Horarios de atencion Lunes a Viernes desde las 10:00 AM hasta las 20:00 PM. </ion-card-content>
</ion-card>



<ion-content class="ion-padding">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]= "['/catalog']">
        <ion-icon name="bag-handle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]= "['/reserva']">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


