<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Reserva de hora</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/bienvenida']">
        <ion-icon name="chevron-back-circle"></ion-icon> Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-datetime #datetime color="tertiary" [showDefaultTitle]="true" [isDateEnabled]="isWeekday" locale="es-ES" hourCycle="h12">
  <span slot="title">Seleccione una fecha de reserva</span>
  <span slot="time-label">Hora</span>
  <ion-buttons slot="buttons">
    <ion-button color="danger"  (click)="datetime.cancel()">Borrar</ion-button>
    <ion-button color="primary" (click)="datetime.confirm()">Aplicar</ion-button>
  </ion-buttons>
</ion-datetime>

<ion-button color="tertiary" id="click-trigger" [routerLink]= "['/bienvenida']">Confirmar reserva</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Reserva Confirmada</ion-content>
  </ng-template>
</ion-popover>




