<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Reserva de hora</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/bienvenida']">
        <ion-icon name="arrow-undo"></ion-icon> Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-datetime [showDefaultTitle]="true" [showDefaultButtons]="true" doneText="Reserva" cancelText="Cancelar" [isDateEnabled]="isWeekday" locale="es-ES" hourCycle="h12">
  <span slot="title">Seleccione una fecha de reserva</span>
  <span slot="time-label">Hora</span>
</ion-datetime>
<ion-footer>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button [routerLink]= "['/bienvenida']">Confirmar reserva</ion-button>
    </ion-buttons>
