<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/catalog']">
        <ion-icon name="chevron-back-circle"></ion-icon> Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card>
  <img alt="fiu2" src="./assets/cart1.png" />
  <ion-card-header>
    <ion-card-title>¡Ops!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    No se ha añadido ningun producto al carrito.
    <ion-card-content>

    </ion-card-content> </ion-card-content>
</ion-card>



