<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rellene con sus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup] = "formularioRegistro">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()" color="tertiary">Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
